/* apply a natural box layout model to all elements, but allowing components to change */
html {
    box-sizing: border-box;
    font-size: 62.5%;
}
*,
*:before,
*:after {
    box-sizing: inherit;
}

:root{
    --fuetePpal:'Lexend', sans-serif;;
    --fuenteTexto:'Noto Sans JP', sans-serif;
    --blanco:#ffff;
    --negro:#000000;
    --gris:#cae4db;
    --beige:#cdac81;
    --verdeMuyOscuro:#00303f;
    --colorado:#d90429;
    --naranja:#ff9500;
    --azulFrancia:#4361ee;
    --rosaIntenso:#b5179e;
    --verdaManzana:#80b918;
    --marron:#941b0c;
    --turquesa:#4cc9f0;
}

body{
    font-family: var(--fuetePpal);
}


.header{
    min-width: 1024px;
    width: 100%;
    height: 23rem;
    margin: 0 auto;
}

.header a{
    text-decoration: none;
    text-transform: uppercase;
    color: var(--azulFrancia);
}
.header .logo{
    color: var(--azulFrancia);
    margin: 0 auto;
    padding-top: 2rem;
    text-align: center;
    text-shadow: 4px 4px var(--turquesa);
}
.header .logo:hover{
    color: var(--turquesa);
    text-shadow: 4px 4px var(--azulFrancia);
}

.header h1{
    text-align: center;
    padding-top: 2rem;
    font-size: 3.5rem;
    text-shadow: 1px 1px var(--gris);
}

/* BARRA DE NAVEGACION */
.navegacion{
    width: 100%;
    background-color: var(--naranja);
    font-size: 2rem;
    font-family: var(--fuentetexto);

}
.navegacion ul{
    list-style: none;
    text-decoration: none;
    margin: 0 auto;
    width: 125rem;

}

.navegacion > ul >li {
    line-height: 40px;
    float: left;
    background-color: var(--naranja);
}

.navegacion > ul > li a{
    display: block;
    padding-left: 20px;
    padding-right: 20px;
    color: var(--blanco);
    text-decoration: none;
    transition: all 400ms;
}
.navegacion a:hover{
    color: var(--naranja);
}

.navegacion li:hover{
    background-color: var(--blanco);
    box-shadow: 0px 0px 7px var(--gris) inset;
}

.navegacion a:first-child{
    border-left: 2px solid var(--blanco);
}

.navegacion > ul > li > ul{
    display: none;
    position: absolute;
    z-index: 1;
}
 .navegacion > ul >li:hover >ul {
    display: block;
    
}
.navegacion > ul >li:hover > ul > li {
    background-color: var(--naranja);
    line-height: 20px;
} 

